


#messageBorder {
    width: 500px;
    height: 600px;
    border: 15px solid #152780;
    padding: 15px;
    margin: 25px;
    left:100%;
}
#messageBorder {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}
