#friendBorder {
    width: 150px;
    height: 200px;
    border: 5px solid #152780;
    padding: 15px;
    margin: 25px;
    left:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
 /* Popup container */
 .popup {
    position: fixed;
    bottom: 1000;
    right: 300px;
    width: 200px;
    cursor:pointer
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: visible;
    width: 400px;
    background-color: rgb(221, 28, 28);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupcont .hide {
    display: none;
}
.popupcont .show {
    display: inline-block;
}
