{% load static %}


<div id = "friends">
    {% if flist %}
        {% for tuple in flist %}
            <li> <a href="/user/{{username}}/chat/{{ tuple.0 }}"> {{ tuple.0 }}({{ tuple.1 }}) </a></li>
        {% endfor %}
    {% else %}
    <p>No friends available.</p>
    {% endif %}
</div>
<div class="popup" onclick="myFunction()">
    {% if new_messages %}
        {% if c_key %}
            <span class="popuptext" id="myPopup">{{new_messages}} new messages from {{c_person}}</span>
        {% else %}
            <span class="popuptext" id="myPopup">{{new_messages}} new messages from {{number_of_channels}} people</span>
        {% endif %}
    {% else %}
    {% endif %}
</div>

