<!DOCTYPE html>
<html lang="en">

<style>
div {
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(253, 0, 0);
    margin: 0;
}
</style>

<head>
    {% load static %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chatters</title>
    <h4>Chat Room of {{ username }} and {{ receiver }}</h4>
</head>

<body>

<script src= "{% static 'script/main.js' %}"></script>

<div id = "messages">
    {% if messageList %}
        {% for message in messageList %}
            <h4> > <strong>{{ message.sender }}</strong> : {{ message.text }} (<i>{{message.date}}</i>) </h4>
        {% endfor %}

    {% else %}
        <p>No messages available.</p>
    {% endif %}
</div>

<form action="/user/{{ username }}/chat/{{ receiver }}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send">
</form>


<a href="/"> Log out </a>
</body>

</html>

