<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'css/chatroom.css' %}">
    {% if user.username == username  %}

   <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src= "{% static 'script/main.js' %}"></script> -->
    <meta charset="UTF-8">
    <title>Chatters</title>
    <h4>Chat Room of {{ username }} and {{ receiver }}</h4>

</head>

<body>



<div id = "messageBorder">
        <div id = "messages">
            {% if messageList %}
                {% for message in messageList %}
                    <h4> > <strong>{{ message.sender }}</strong> : {{ message.text }} (<i>{{message.date}}</i>) </h4>
                {% endfor %}

            {% else %}
                <p>No messages available.</p>
            {% endif %}
        </div>
</div>
<form action="/user/{{ username }}/chat/{{ receiver }}/" method="post" id = "messageForm">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send">
</form>


<a href="/accounts/logout/"> Log out </a>
{% else %}
        <h4>You are not logged in as user {{ username }}, you can't see this page.</h4>
        <a href="{% url 'index' %}">Click here to log in</a>
{% endif %}
</body>

</html>

