{# TODO linklerin icindeki ajax requestleri kaldir hepsi sayfanin icinde generate etsin #}
{# TODO generate edebilmeleri icin onload, refresh ve add tab onload fonkisyonlari yaz #}
{# TODO tefresh sadece databasedeki yeni mesajlair ceksin eskileri hafizdan liste olarak tutsun #}
{# TODO refresh icin acik olan tablarin listesini ver, sadece o kullanicilara refresh atsin, onload da ayni sekilde #}
{# TODO refresh ajaxla calissin submitteki ajax kalsin #}


<!DOCTYPE html>
{% load static %}
{% load database_interaction %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'script/js.cookie.js' %}"></script>
<script src="{% static 'script/notification.js' %}"></script>
<script src= "{% static 'script/friends.js' %}"></script>
<script src= "{% static 'script/tabs.js' %}"></script>

<html>
{% load static %}
<title>{{user.username}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel = "stylesheet" type="text/css" href = "{% static 'css/friends.css' %}">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>


<script>
    var username = "{{username}}";
    var new_messages = "{{new_messages}}";
    var prev_message_count = 0;
    var key = 1;
    var userMessagesArray = [];

    {#var csrf_token = {{csrf_token}};#}
</script>


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:400px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:25px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>{{user.first_name}}<br>{{user.last_name}}</b></h3>
  </div>
  <div class="w3-bar-block">
        <div id = "friends">
            {% if flist %}
            <span id="jj" >
                {% for tuple in flist %}
                    <li> <a href="/user/{{username}}/chat/{{ tuple.0 }}"> {{ tuple.0 }}({{ tuple.1 }}) </a></li>
                {% endfor %}
            </span>
            {% else %}
            <p>No friends available.</p>
            <a href="{{username}}/chat"> Clict to enter general server </a>
            {% endif %}
        </div>
        <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Add">
        </form>
        <a href="/accounts/logout/"> Log out </a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:400px;margin-right:40px">

  <!-- Header -->

<!-- The Team -->
        <head>
         <div class="w3-container" style="margin-top:0px" id="showcase">
            <h1 class="w3-half"><b>Frequently Connected</b></h1>

         </div>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
        #dialog label, #dialog input { display:block; }
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #tabs { margin-top: 1em; }
        #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
        #add_tab { cursor: pointer; }
        </style>
        <div class="popup" id="popupcont">
            <span id="popup_text">
            {% if new_messages %}
                {% if c_key %}
                    <span class="popuptext" id="myPopup">{{new_messages}} new messages from {{c_person}}</span>
                {% else %}
                    <span class="popuptext" id="myPopup">{{new_messages}} new messages from {{number_of_channels}} people</span>
                {% endif %}
            {% else %}
            {% endif %}
            </span>
        </div>

        </head>
    <body>

    <div id="dialog" title="Tab data">
  <form>

        <fieldset class="ui-helper-reset">
                <select name="tab_title" id="tab_title">
                    {% for tuple in flist %}
                    <option> {{ tuple.0 }}</option>
                    {% endfor %}
                </select>
            </fieldset>
  </form>
</div>

<button id="add_tab">Add Tab</button>

<div id="tabs">
  <ul>
  </ul>
</div>
<ul>
    {% for key, value in message_dict.items %}
      <script>
          var chat_form = '{{ chat_form }}';
          var messagelist = {{ value|safe }};
          messagelist.unshift("{{ key}}");
          userMessagesArray.push(messagelist);
          //console.log(userMessagesArray);
      </script>
    {% endfor %}

    {# message-dict is a dictionary of messages that consists of each receiver in cookies and their messages  #}
</ul>

</body>




</html>



