<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
</head>
<body>
    <h2>Friends</h2>
    <p id = "friends">
        {% if flist %}
            {% for tuple in flist %}
                <li> <a href="/user/{{username}}/chat/{{ tuple.0 }}"> {{ tuple.0 }}({{ tuple.1 }}) </a></li>
            {% endfor %}
        
        {% else %}
        <p>No friends available.</p>
        <a href="{{username}}/chat"> Clict to enter general server </a>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Add">
        </form>
    </p>
